golang/Dockerfile
workspace/node_modules
**.DS_*
**package-lock.*
/.gitignore

/prepare_admin.sh
/credentials.sh
/LICENSE
/nginx/
/golang/
/clean_all.sh
/nodejs/
/docker-compose.yml
/README.md
/workspace/scss/
/workspace/gulpfile.js
/workspace/package.json
/workspace/vendor/
/workspace/img/
/workspace/js/
/workspace/css/
/workspace/mail/
/workspace/package-lock.json
