// Styling for the contact section
section#contact {
  background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: white;
  }
  .font-phone {
    @include body-font;
    font-size: 1.3em;
    line-height: 70px;
    text-transform: none;
    color: #fff;
    .color-fa {
      color: $gray-light;
    }
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-lighter;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-lighter;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-lighter;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-lighter;
    @include heading-font;
  }
  .text-danger {
    color: $theme-danger;
  }
}
